<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @incicent_replacement.description %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @incicent_replacement.amount %>
</p>

<%= link_to 'Edit', edit_incicent_replacement_path(@incicent_replacement) %> |
<%= link_to 'Back', incicent_replacements_path %>
