<%= form_for(incident) do |f| %>
  <% if incident.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(incident.errors.count, "error") %> prohibited this incident from being saved:</h2>

      <ul>
        <% incident.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p></p>
  <form>
    <div class="form-group">
      <%= f.label :client_number %>
      <%= f.number_field :client_number, class: 'form-control'%>
    </div>

    <div class="form-group">
      <%= f.label :incident_type %>
      <%= f.text_field :incident_type , class: 'form-control'%>
    </div>

    <div class="form-group">
      <%= f.label :description %>
      <%= f.text_area :description , class: 'form-control'%>
    </div>

    <div class="form-group">
      <%= f.label :incident_state %>
      <%= f.text_field :incident_state , class: 'form-control'%>
    </div>


    <p></p>
    <div class="replacements">
      <%= f.fields_for :replacements do |replacement| %>
        <%= render 'replacement_fields',  f: replacement %>
      <% end %>
      <div class="links">
        <%= link_to_add_association 'agregar repuesto', f, :replacements, class: 'btn btn-light'%>
      </div>
    </div>
    <p></p>
    <div class="actions">
      <%= f.submit class: "btn btn-info" %>
    </div>
  </form>
<% end %>
