<div class= "container">
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8">
			<p id="notice"><%= notice %></p>
			<h1 class="text-center">Incidentes</h1>
			<table class="table table-striped">
				<thead>
					<tr>
						<th scope="col">Numero de cliente</th>
						<th scope="col">Tipo de incidente</th>
						<th scope="col">Descripcion</th>
						<th scope="col">Estado</th>
						<th colspan="3"></th>
					</tr>
				</thead>

				<tbody>
					<% @incidents.each do |incident| %>
						<tr>
							<td><%= incident.client_number %></td>
							<td><%= incident.incident_type %></td>
							<td><%= incident.description %></td>
							<td><%= incident.incident_state %></td>
							<td><%= link_to 'Ver', incident %></td>
							<td><%= link_to 'Editar', edit_incident_path(incident) %></td>
							<td><%= link_to 'Eliminar', incident, method: :delete, data: { confirm: 'Esta seguro que desea eliminar el incidente?' } %></td>
						</tr>
					<% end %>
				</tbody>
			</table>

			<br>

			<%= link_to 'Nuevo incidente', new_incident_path, class:'btn btn-light' %>
		</div>
		<div class="col-md-2"></div>
	</div>
</div>
