<%= form_for(replacement) do |f| %>
  <% if replacement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(replacement.errors.count, "error") %> prohibited this replacement from being saved:</h2>

      <ul>
      <% replacement.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name , class:'form-control'%>
  </div>

  <div class="form-group">
    <%= f.label :amount %>
    <%= f.number_field :amount , class:'form-control'%>
  </div>

  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description , class:'form-control'%>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
